
#botonSuma{

    width: 70px;
    height: 50px;
    font-size: 20px;
}

#botonDividir{
    width: 70px;
    height: 50px;
    font-size: 20px;
}
#botonResta{
    width: 70px;
    height: 50px;
    font-size: 20px;
}
#botonModular{
    width: 70px;
    height: 50px;
    font-size: 20px;
}

#botonPotenciar{
    width: 70px;
    height: 50px;
    font-size: 20px;
}

#botonLogX{
    width: 70px;
    height: 50px;
    font-size: 20px;
}

#botonLogY{
    width: 70px;
    height: 50px;
    font-size: 20px;
}

#resultado{
    font-size: 50px;

}

#y{
    width: 70px;
    height: 35px;
    font-size: 30px;
}

#x{
    width: 70px;
    height: 35px;
    font-size: 30px;
}
